<% # view is an instance of Pages::IndexView %>

<h1>Track Stack</h1>

<% if current_user %>
  <img src="<%= current_user.image %>" width="50" height="50" style="display: block;">
  <%= form_tag destroy_user_session_path, method: :delete do %>
    <button class="btn btn-default" style="margin-top: 10px;">Log out</button>
  <% end %>

  <hr>

  <a href=<%= new_game_path %> class="btn btn-primary float-right" style="margin-bottom:10px;">New Game</a>

  <h4>Pending invitations:</h4>

  <% if view.sent_game_invites.any? %>
    <p><strong>Sent:</strong></p>
    <div class="friends-list">
      <ul class="list-unstyled">
        <% view.sent_game_invites.each do |invite| %>
          <li>
            <img src=<%= invite.image %> width="30" height="30" />
            <%= invite.name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if view.received_game_invites.any? %>
    <p><strong>Received:</strong></p>
    <div class="friends-list">
      <ul class="list-unstyled">
        <% view.received_game_invites.each do |invite| %>
          <li>
            <img src=<%= invite.image %> width="30" height="30" />
            <span><%= invite.name %></span>
            <form action="<%= game_invite_accept_path %>" method="post" class="float-right">
              <div style="margin:0;padding:0;display:none">

                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="put" />
              </div>
              <input type="hidden" value="<%= invite.id %>" name="game_invite_id" />

              <input type="submit" class="btn btn-success float-right" value="Accept" />
            </form>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% else %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
  <% if Rails.env.development? %>
    or
    <a href="https://developers.facebook.com/checkpoint/test-user-login/101441640615588/" target="_blank">Log in as test user</a>
  <% end %>
<% end %>

