<!DOCTYPE html>
<html>
  <head>
    <title>Track Stack</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  </body>
</html>
